<!DOCTYPE html>
<html>
  <head>
    <title>Railsplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mx-auto max-w-2xl text-center">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
